// Some very basic page and reset styles

html {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-family: "Roboto", Tahoma, Verdana, Arial, Helvetica, sans-serif;
  font-size: $font-size;
  color: $secondary-text;
  background: #fff;
  overflow: hidden;
  margin: 0;
  padding: 0;

  img {
    border: none;
  }

  a {
    outline: 0;
  }
}
