// Some very basic page and reset styles

html {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-family: "Roboto", Tahoma, Verdana, Arial, Helvetica, sans-serif;
  font-size: $font-size;
  color: $secondary-text;
  background: #fff;
  overflow: hidden;
  margin: 0;
  padding: 0;

  img {
    border: none;
  }

  a {
    outline: 0;
  }
}

div#transmission-app {
  height: 100vh;
  display: grid;
  grid-template-areas: "app-sidebar app-content";
  grid-template-columns: 250px 1fr;

  div#sidebar {
    grid-area: app-sidebar;
    height: 100%;
    background-color: $sidebar-background-color;
  }

  div#app-content {
    grid-area: app-content;
    background-color: white;
    height: 100%;
  }
}
