/***
  ****
  ****  STATUSBAR
  ****
  ***/
#statusbar {
  height: 26px;
  width: 100%;
  border-bottom: 1px solid #aaa;
  overflow: hidden;
  position: relative;
  background-color: #ccc;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ddd), to(#bbb));
  background-image: -webkit-linear-gradient(top, #ddd, #bbb);
  background-image: -moz-linear-gradient(top, #ddd, #bbb);
  background-image: -ms-linear-gradient(top, #ddd, #bbb);
  background-image: -o-linear-gradient(top, #ddd, #bbb);
  background-image: linear-gradient(top, #ddd, #bbb);
}

#statusbar #filter {
  float: left;
  margin-left: 5px;
}

#statusbar #filter input#torrent_search {
  height: 18px;
  width: 100px;
  border-radius: 6px;
}

#statusbar #filter input#torrent_search.blur {
  color: #999;
}

#statusbar #filter #filter-count {
  margin-left: 8px;
}

#statusbar #speed-info {
  float: right;
  margin-top: 5px;
  margin-right: 10px;
}

#statusbar #speed-info * {
  display: inline-block;
}

#statusbar #speed-info #speed-up-icon {
  margin-left: 8px;
  width: 8px;
  height: 8px;
  background: url("../img/arrow-up.png") bottom no-repeat;
}

#statusbar #speed-info #speed-dn-icon {
  width: 8px;
  height: 8px;
  background: url("../img/arrow-down.png") bottom no-repeat;
}

#statusbar #speed-info #speed-up-container,
#statusbar #speed-info #speed-dn-container {
  display: inline;
}
