
// Toolbar
div#toolbar {
  margin: 0px;
  padding: 3px 6px;
  border-bottom: $toolbar-border-bottom;
  background-color: $toolbar-background-color;
  display: grid;
  grid-template-areas: "left right";
  grid-template-columns: 1fr 1fr;
  align-items: center;

  .left-section {
    grid-area: left;
  }

  .right-section {
    grid-area: right;
    text-align: right;
  }

  .left-section,
  .right-section {
    & > div {
      cursor: pointer;
      -moz-user-select: none;
      -webkit-user-select: none;
      display: inline-block;
      padding: 0 10px;
      color: $toolbar-icons-color;
      font-size: 1.5em;
      width: 24px;
      height: 30px;
      vertical-align: middle;

      &.disabled {
        opacity: 0.25;
        cursor: not-allowed;
      }

      &.toolbar-separator {
        padding: 0;
        margin: 0 10px;
        border-left: 2px solid $toolbar-separator-color;
        width: 0px;
      }

      span.oi {
        &::before {
          // Better icons vertical alignment
          margin-top: 6px;
        }
      }
    }
  }
}
