
// Torrent Container
div#torrent_container {
  padding: 0px;
  margin: 0px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

// Torrent List
ul.torrent_list {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;

  /**
    * Progressbar
    *
    * Each progressbar has three elemens: a parent container and two children,
    * complete and incomplete.
    *
    * The only thing needed to set the progressbar percentage is to set
    * the complete child's width as a percentage. This is because incomplete
    * is pinned to the full width and height of the parent, and complete
    * is pinned to the left side of the parent and has a higher z-index.
    *
    * The progressbar has different colors depending on its state, so there
    * are five 'decorator' classNames: paused, queued, magnet, leeching, seeding.
    */

  // Single Torrent Entry
  li.torrent {
    padding: 10px 30px;
    background-color: white;
    cursor: pointer;
    display: grid;
    grid-template-columns: 15px 1fr 1fr;
    grid-template-areas:
      "name name speed"
      "time time ."
      "button progress progress";

    // Compact Torrent styles
    &.compact {
      padding: 6px 10px;
      grid-template-columns: 300px 15px 150px 1fr 1fr;
      grid-template-areas: "name button progress time speed";
      align-items: center;
      border-bottom: solid 1px $secondary-text-paused;
    }

    // Selected Torrent styles
    &.selected {
      background-color: #1a8be8;
      color: #fff;

      .torrent_name {
        color: #fff;

        &.paused {
          color: #fff;
        }
      }

      .torrent_peer_details,
      .torrent_progress_details {
        &.error {
          color: #fff; // TODO: right color?
        }
      }

      .torrent_pause {
        &::before,
        &::after {
          background-color: #fff;
        }
      }

      .torrent_resume {
        &::after {
          border-left-color: #fff;
        }
      }

      .torrent_progress_bar_container {
        .torrent_progress_bar {
          &.complete {
            &.paused,
            &.magnet,
            &.leeching,
            &.leeching.queued,
            &.seeding,
            &.seeding.queued {
              background-color: #fff;
            }
          }

          &.incomplete {
            &.paused,
            &.magnet,
            &.leeching,
            &.leeching.queued,
            &.seeding,
            &.seeding.queued {
              background-color: #409cec;
            }
          }
        }
      }
    }

    // Pause/Resume button
    a {
      grid-area: button;

      div {
        height: 14px;
        width: 14px;
        position: relative;

        &.torrent_pause {
          &::before,
          &::after {
            position: absolute;
            content: '';
            background-color: black;
            width: 2px;
            height: 7px;
            top: 0;
          }

          &::before { left: 0; }
          &::after { left: 4px; }
        }

        &.torrent_resume {
          &::after {
            content: '';
            position: absolute;
            top: 0px;
            left: 0px;
            width: 0;
            height: 0;
            border-top: 4px solid transparent;
            border-bottom: 4px solid transparent;
            border-left: 6px solid black;
          }
        }
      }

      &:active {
        // TODO: Handle "active" color
      }

      &:hover {
        // TODO: Handle "hover" color
      }
    }

    // Torrent Name
    .torrent_name {
      font-size: 1.2em;
      font-weight: 500;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      color: $primary-text;
      margin-top: 2px;
      margin-bottom: 6px;
      grid-area: name;

      &.compact {
        font-size: 1em;
        margin: 0;
      }

      &.paused {
        color: $primary-text-paused;
      }
    }

    // Peer details (Connected Peers - DL and UL speed)
    // &
    // Progress details (MB downloaded - Estimated time left)
    .torrent_peer_details,
    .torrent_progress_details {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      &.error {
        color: #f00; // TODO: right color?
      }
    }

    .torrent_peer_details {
      grid-area: speed;
      justify-self: end;
      align-self: center;

      &.compact {}
    }

    .torrent_progress_details {
      grid-area: time;
      margin-bottom: 8px;
    }

    // Progress Bar
    .torrent_progress_bar_container {
      height: 5px;
      overflow: visible;
      position: relative;
      grid-area: progress;

      &.compact {
        width: 150px;
      }

      &.full {
        margin-top: 2px;
        margin-bottom: 2px;
      }

      .torrent_progress_bar {
        height: 100%;
        position: absolute;
        top: 0px;
        left: 0px;

        &.complete {
          z-index: 2;

          &.paused { background-color: $progress-complete-paused; }

          &.magnet { background-color: $progress-complete-magnet; }

          &.leeching {
            background-color: $progress-complete-leeching;

            &.queued { background-color: $progress-complete-leeching-queued; }
          }

          &.seeding {
            background-color: $progress-complete-seeding;

            &.queued { background-color: $progress-complete-seeding-queued; }
          }
        }

        &.incomplete {
          z-index: 1;
          width: 100%;
          height: 100%;

          &.paused { background-color: $progress-incomplete-paused; }

          &.magnet { background-color: $progress-incomplete-magnet; }

          &.leeching {
            background-color: $progress-incomplete-leeching;

            &.queued { background-color: $progress-incomplete-leeching-queued; }
          }

          &.seeding { background-color: $progress-incomplete-seeding; }
        }
      }
    }
  }
}
