
/***
  ****
  ****  TORRENT INSPECTOR
  ****
  ***/
div#torrent_inspector {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
  box-shadow: 0 10px 30px rgba(20, 20, 20, 0.2);
  width: 800px;
  height: 65vh;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  text-align: left;
  border-radius: 5px;
  display: grid;
  grid-template-areas:
    "header header"
    "tabs content";
  grid-template-columns: 150px 1fr;
  grid-template-rows: auto 1fr;

  #inspector_header {
    grid-area: header;
    padding: 10px;
    background-color: $inspector-header-background-color;
    border-bottom: solid 2px #1a232c;

    #torrent_inspector_name {
      color: $secondary-text;
      font-weight: 400;
      margin: 0;
    }
  }

  #inspector-tabs-wrapper {
    $tabs-right-border: 2px;

    grid-area: tabs;
    padding: 25px 0 10px 0;
    background-color: $inspector-tabs-background-color;
    border-right: solid $tabs-right-border #1a232c;

    #inspector-tabs {
      .inspector-tab {
        margin-right: -$tabs-right-border;
        font-size: 1.2em;
        padding: 7px 22px;

        a {
          color: $secondary-text-inverted;
          text-decoration: none;
        }

        &.selected {
          font-weight: 500;
          border-right: solid $tabs-right-border $blue;

          a {
            color: $blue;
          }
        }
      }
    }
  }

  #inspector-content {
    grid-area: content;
    padding: 10px;
    background-color: $inspector-content-background-color;
    overflow-y: scroll;

    // Inspector pages

    #inspector-page-files {
      ul#inspector_file_list {
        overflow: hidden;
        width: 100%;
        margin: 0;
        padding: 6px 0 0 0;
        text-align: left;
        display: block;
        cursor: default;
        list-style-type: none;
        list-style: none;
        list-style-image: none;
        clear: both;

        li {
          display: grid;
          align-items: center;
          grid-template-areas:
            'wanted filename priority'
            'wanted progress priority';
          grid-template-columns: 25px 1fr auto;

          &.skip {
            color: #666;
          }

          .file_wanted_control {
            grid-area: wanted;
            margin: 0;
          }

          .inspector_torrent_file_list_entry_name {
            grid-area: filename;
            color: $secondary-text-paused;
            font-weight: 500;
            font-size: 1.1em;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            margin-bottom: 3px;
          }

          .inspector_torrent_file_list_entry_progress {
            grid-area: progress;
          }

          .file-priority-radiobox {
            grid-area: priority;

            & > * {
              cursor: pointer;
              -moz-user-select: none;
              -webkit-user-select: none;
              display: inline-block;
              padding: 3px;
              margin-left: 2px;
              width: 20px;
              height: 20px;
              vertical-align: middle;
              color: white;
              border-radius: 3px;
              text-align: center;

              .oi::before {
                margin-top: 3px;
              }

              &:active,
              &.selected {
                background-color: $blue;
              }
            }
          }
        }
      }
    }

    #inspector_peers_list {
      padding: 0 0 0 0;
      margin: 0 0 0 0;
      text-align: left;
      cursor: default;
      overflow: hidden;

      .inspector_group {
        padding-bottom: 0;
        margin-bottom: 0;
      }

      table.peer_list {
        width: 100%;
        border-collapse: collapse;
        text-align: left;
        cursor: default;
        clear: both;
        table-layout: fixed;

        .inspector_peer_entry {
          margin-bottom: 4px;
        }

        .encrypted-peer-cell,
        .unencrypted-peer-cell {
          width: 16px;
        }

        .encryptedCol {
          width: 16px;
        }

        .upCol {
          width: 70px;
        }

        .downCol {
          width: 70px;
        }

        .percentCol {
          width: 30px;
          padding-right: 5px;
          text-align: right;
        }

        .statusCol {
          width: 40px;
          padding-right: 5px;
        }

        .addressCol {
          width: 180px;
        }

        .clientCol {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }

    #inspector_trackers_list {
      ul.tier_list {
        margin: 2px 0 8px 0;
        width: 100%;
        padding-left: 0px;
        text-align: left;
        display: block;
        cursor: default;
        list-style-type: none;
        list-style: none;
        list-style-image: none;
        clear: both;

        li {
          overflow: hidden;
        }

        .tracker_activity {
          float: left;
          width: 330px;
          display: table;
          margin-top: 1px;

          div {
            padding: 2px;
          }
        }

        table {
          float: right;
        }

        th {
          text-align: right;
          font-weight: 500;
        }
      }
    }

    li.inspector_tracker_entry {
      padding: 3px 0 3px 2px;
      display: block;
    }

    div.tracker_host {
      font-size: 1.2em;
      font-weight: 500;
      color: #b8c1cb;
    }
  }
}
